{% extends "master_page.html" %}
{% load static %}

{% block seccion %}
Registro de Puesto
{% endblock %}




{% block contenido %}

{% if messages %}
    <div class="col-lg-12">
        {% for message in messages %}
            {% if message.two%}
                <p class="alert alert-dismissable {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message.message }}
                </p>
            {% else %}
                <p class="alert alert-dismissable {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </p>
            {%endif%}

        {% endfor %}
    </div>
{% endif %}

<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <form name="form_insertar" id="form_insertar"method="post" action="{% url 'puestos_editar_save' %}">{% csrf_token %}
                        <input type="hidden" name="id" value="{{obj.id}}">
                        <input type="hidden" name="firma_1_str" id="firma_1_str" value="">
                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Nombre:</label>
                                    <div class="input-group">
                                        <span class="btn btn-info"><i class="fa fa-user"></i></span>
                                        <input class="form-control" id="name" name="name" value="{{obj.name}}" required>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-8">
                                    <label>Permisos:</label>

                                    <div class="input-group">
                                        <span class="btn btn-primary"><i class="fa fa-user"></i></span>
                                        <select name="permissions" multiple class="form-control">
                                           {% for permiso in permissions %}
                                                <option value="{{permiso.id}}" {% if permiso.seleccionado == True %} selected {% endif %}>{{permiso.name}}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                    
                                </div>
                            </div>
                            <br>
                        </div>
                        <button type="submit" class="btn btn-success ok float-right">Guardar</button>
                        <a href="" class="btn btn-danger">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block extrajs %}
<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
<script>
    
</script>
{% endblock %}